name: Deploy DEV (BlueGreen)

on: [workflow_dispatch]

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: eu-north-1
  ECR_REPOSITORY: ecs-platform-dev-backend
  CODEDEPLOY_APP: ecs-platform-dev-cd-app
  CODEDEPLOY_DG: ecs-platform-dev-cd-dg
  CONTAINER_NAME: app

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::636851749897:role/ecs-platform-dev-github-actions
          aws-region: eu-north-1

      - uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push image
        id: build
        run: |
          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          IMAGE="$ACCOUNT_ID.dkr.ecr.eu-north-1.amazonaws.com/ecs-platform-dev-backend:$GITHUB_SHA"
          echo "IMAGE=$IMAGE" >> $GITHUB_OUTPUT
          docker build -t $IMAGE ./app
          docker push $IMAGE

      - name: Register new task definition
        id: taskdef
        run: |
          aws ecs describe-task-definition \
            --task-definition ecs-platform-dev-task \
            --region eu-north-1 \
          | jq '.taskDefinition
            | del(
              .revision,
              .status,
              .requiresAttributes,
              .compatibilities,
              .registeredAt,
              .registeredBy,
              .taskDefinitionArn
            )
            | (.containerDefinitions[] | select(.name=="app") | .image) = "${{ steps.build.outputs.IMAGE }}"' \
          > taskdef.json

          ARN=$(aws ecs register-task-definition \
            --cli-input-json file://taskdef.json \
            --region eu-north-1 \
            --query 'taskDefinition.taskDefinitionArn' \
            --output text)

          echo "ARN=$ARN" >> $GITHUB_OUTPUT

      - name: BlueGreen deploy
        run: |
          aws deploy create-deployment \
            --application-name ecs-platform-dev-cd-app \
            --deployment-group-name ecs-platform-dev-cd-dg \
            --revision revisionType=AppSpecContent,appSpecContent={content=$(base64 appspec.yaml)} \
            --region eu-north-1
