name: Deploy PROD (ECS Blue/Green)

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: eu-north-1

      CODEDEPLOY_APP: ecs-platform-prod-cd-app
      CODEDEPLOY_DG: ecs-platform-prod-cd-dg

      ECS_CLUSTER: ecs-platform-prod-cluster
      ECS_SERVICE: ecs-platform-prod-service

      CONTAINER_NAME: app
      CONTAINER_PORT: 8000

      ECR_REPOSITORY: ecs-platform-prod-backend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::636851749897:role/ecs-platform-prod-github-actions
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to ECR
        id: build-image
        run: |
          ECR_REGISTRY="${{ steps.login-ecr.outputs.registry }}"
          IMAGE_TAG="${{ github.sha }}"
          IMAGE_URI="${ECR_REGISTRY}/${ECR_REPOSITORY}:${IMAGE_TAG}"

          echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_OUTPUT

          docker build -t "$IMAGE_URI" -f app/Dockerfile app
          docker push "$IMAGE_URI"


      - name: Fetch current task definition
        id: fetch-taskdef
        run: |
          aws ecs describe-services \
            --cluster "$ECS_CLUSTER" \
            --services "$ECS_SERVICE" \
            --query "services[0].taskDefinition" \
            --output text > taskdef_arn.txt

          TASKDEF_ARN=$(cat taskdef_arn.txt)
          echo "TASKDEF_ARN=$TASKDEF_ARN" >> $GITHUB_OUTPUT

          aws ecs describe-task-definition \
            --task-definition "$TASKDEF_ARN" \
            --query "taskDefinition" \
            --output json > taskdef.json

      - name: Prepare image uri file
        run: |
          mkdir -p /home/runner/work/_temp
          echo "${{ steps.build-image.outputs.IMAGE_URI }}" > /home/runner/work/_temp/image_uri.txt

      - name: Render task definition (replace image)
        run: |
          python3 - <<'PY'
          import json

          IMAGE_URI = open("/home/runner/work/_temp/image_uri.txt","r").read().strip()
          td = json.load(open("taskdef.json","r",encoding="utf-8"))

          drop = {"taskDefinitionArn","revision","status","requiresAttributes","compatibilities","registeredAt","registeredBy"}
          for k in list(td.keys()):
              if k in drop:
                  td.pop(k, None)

          td["containerDefinitions"][0]["image"] = IMAGE_URI

          json.dump(td, open("taskdef.rendered.json","w",encoding="utf-8"), indent=2)
          print("Rendered taskdef.rendered.json with image:", IMAGE_URI)
          PY

      - name: Register task definition
        id: register-taskdef
        run: |
          NEW_TASKDEF_ARN=$(aws ecs register-task-definition \
            --cli-input-json file://taskdef.rendered.json \
            --query "taskDefinition.taskDefinitionArn" \
            --output text)

          echo "taskdef_arn=$NEW_TASKDEF_ARN" >> $GITHUB_OUTPUT
          echo "Registered task definition: $NEW_TASKDEF_ARN"

      - name: Create AppSpec file (ECS Blue/Green)
        id: create-appspec
        run: |
          TASKDEF_ARN="${{ steps.register-taskdef.outputs.taskdef_arn }}"

          cat > appspec.yaml <<EOF
          version: 1
          Resources:
            - TargetService:
                Type: AWS::ECS::Service
                Properties:
                  TaskDefinition: "$TASKDEF_ARN"
                  LoadBalancerInfo:
                    ContainerName: "$CONTAINER_NAME"
                    ContainerPort: $CONTAINER_PORT
          EOF

          echo "Created appspec.yaml"
          APPSPEC_B64=$(base64 -w 0 appspec.yaml)
          echo "appspec_b64=$APPSPEC_B64" >> $GITHUB_OUTPUT

      - name: Create CodeDeploy deployment (Blue/Green)
        run: |
          APPSPEC_B64="${{ steps.create-appspec.outputs.appspec_b64 }}"

          DEPLOYMENT_ID=$(aws deploy create-deployment \
            --application-name "$CODEDEPLOY_APP" \
            --deployment-group-name "$CODEDEPLOY_DG" \
            --revision "revisionType=AppSpecContent,appSpecContent={content=$APPSPEC_B64}" \
            --query "deploymentId" --output text)

          echo "Deployment created: $DEPLOYMENT_ID"
