name: Deploy PROD (ECS Blue/Green)

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: eu-north-1
  ECR_REPOSITORY: ecs-platform-prod-backend
  CODEDEPLOY_APP: ecs-platform-prod-cd-app
  CODEDEPLOY_DG: ecs-platform-prod-cd-dg
  TASK_FAMILY: ecs-platform-prod-task
  CONTAINER_NAME: app
  CONTAINER_PORT: 8000

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install jq
        run: |
          sudo apt-get update
          sudo apt-get install -y jq

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::636851749897:role/ecs-platform-prod-github-actions
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to ECR
        env:
          IMAGE_TAG: ${{ github.sha }}
        run: |
          set -euo pipefail
          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          ECR_URI=${ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPOSITORY}
          echo "ECR_URI=${ECR_URI}" >> $GITHUB_ENV
          echo "IMAGE_TAG=${IMAGE_TAG}" >> $GITHUB_ENV
          docker build -t ${ECR_URI}:${IMAGE_TAG} ./app
          docker push ${ECR_URI}:${IMAGE_TAG}

      - name: Prepare new task definition (from AWS, replace image)
        run: |
          set -euo pipefail

          aws ecs describe-task-definition \
            --task-definition "${TASK_FAMILY}" \
            --query taskDefinition > taskdef.json

          jq 'del(
            .taskDefinitionArn,
            .revision,
            .status,
            .requiresAttributes,
            .compatibilities,
            .registeredAt,
            .registeredBy
          )' taskdef.json > taskdef-clean.json

          jq --arg IMAGE "${ECR_URI}:${IMAGE_TAG}" --arg NAME "${CONTAINER_NAME}" '
            .containerDefinitions |=
              (map(if .name == $NAME then .image=$IMAGE else . end))
          ' taskdef-clean.json > taskdef-new.json

          echo "IMAGE IN TASKDEF:"
          jq -r --arg NAME "${CONTAINER_NAME}" '.containerDefinitions[] | select(.name==$NAME) | .image' taskdef-new.json

      - name: Register new task definition
        run: |
          set -euo pipefail
          NEW_TD_ARN=$(aws ecs register-task-definition \
            --cli-input-json file://taskdef-new.json \
            --query taskDefinition.taskDefinitionArn \
            --output text)
          echo "NEW_TD_ARN=${NEW_TD_ARN}" >> $GITHUB_ENV
          echo "${NEW_TD_ARN}"

      - name: Create CodeDeploy deployment (Blue/Green)
        run: |
          set -euo pipefail
          cat > appspec.yaml <<EOF2
version: 1
Resources:
  - TargetService:
      Type: AWS::ECS::Service
      Properties:
        TaskDefinition: "${NEW_TD_ARN}"
        LoadBalancerInfo:
          ContainerName: "${CONTAINER_NAME}"
          ContainerPort: ${CONTAINER_PORT}
EOF2

          aws deploy create-deployment \
            --application-name "${CODEDEPLOY_APP}" \
            --deployment-group-name "${CODEDEPLOY_DG}" \
            --revision "revisionType=AppSpecContent,appSpecContent={content=$(cat appspec.yaml | base64 -w 0)}" \
            --description "GitHub Actions PROD deploy $GITHUB_SHA"
